body {
    font-family: "Rubik", sans-serif;
    color: #333333;
}  

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}  

.section.section-grey {
    background-color: rgb(245, 245, 245);
}

.image-container {
    background-image: url("./assets/dosepix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

/* general */
.hero {
    font-size: 1.2rem;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;    
}

.card {
    background-color: rgba(245, 245, 245, 0.822);
    border: 5px solid #440154;
    border-radius: 20px;
    margin: 15px;
    padding: 50px;
}

.divider {
    height: 2px;
    border-radius: 50px;
    background: #43015485;
    width: 14rem;
}

.divider.is-centered {
    margin: 0 auto;
}

/* lined heading */
h1.heading {
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    color: #3b3b3b;
}

h1.heading:before, h1.heading:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}

h1.heading:after {
    margin: 0 -55% 0 .5em;
}

/* main */
.main-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 30rem;
}

.main-container {
    background-color: #440154;
}

/* features */
.features.title {
    color: whitesmoke;
}

.features.subtitle {
    color:whitesmoke;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-card {
    background-color: #fff;
    box-shadow: -1px 3px 15px 0 rgb(0 0 0 / 6%);
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 3rem;
    margin: 1rem;
    flex: 1;
}

.features-card:hover {
    cursor: pointer;
    border: 1px solid lightblue;
}

h2.features {
    font-weight: 500;
    font-size: 1.9rem;
}

h3.features {
    font-weight: 100;
    font-size: 1.5rem;
}

img.features {
    padding: 20px;
}

p.features {
	text-align: justify;
}

.collapse.features {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;      
}

/* what */
img.what {
    border: 2px solid #440154;
    border-radius: 20px;
    max-width: 25rem;
}

/* how */
h1.heading.how {
    font-size: 1.3rem;
}

img.how {
    width: 20rem;
}

/* navbar */
.navbar {
    background-color: #440154;
    border-bottom: 1px solid gray;
}

.navbar-item {
    color: whitesmoke;
}

.navbar-burger span {
    color: white;
}

/* footer */
.individual.footer {
    color: whitesmoke;
    background-color: darkslategrey;
}

img.footer-github {
    border-radius: 5%;
    max-width: 10rem;
    padding: 1rem;
    background-color: whitesmoke;
}

img.footer-logo {
    border-radius: 5%;
    max-width: 10rem;
    padding: 2rem;
    background-color: whitesmoke;
}

.footer-h2 {
    font-weight: 500;
    font-size: 1.4rem;
}
